
/* Table styling */

table {
    width: 100%;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
}
th, td {
    padding: .5em;
    min-width: 3.5em;
}
thead {
    background: #3da0cb;
    color: #060101;
}
tbody tr:nth-child(odd){ 
    background: #c0e0ee;
}
tbody tr:nth-child(even){
    background: #a5d3e7;
}

/* Flex box and setting everything to the vertical axis */
html, body {
    min-height: 100vh;
    margin: auto;
}
body {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at top, #fcffeb , #d1bfd8);
}
header {
    height: 5em;
    background: radial-gradient(circle at top, #61486a , #d1bfd8);
    text-align: center;
}
main {
    flex: auto;
    max-width: 90%;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Style for the monthly budget after it's created */
p {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30%;
}

/* Style for input form */
input {
    padding: 4px;
    width: 125px;
    background: #FCFCFC;
    border: 1px solid;
}
label {
    padding: 4px;
    width: 75px;
    background-color: #c3b0c9;
}